* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.navlist {
  display: flex;
}

.navlist a {
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}

.navlist a:hover {
  border-bottom: 2px solid white;
}

#menu-icon {
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(245.59deg,
      #4d9559 0%,
      #38703d 28.53%,
      #57a02c 75.52%);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

section {
  padding: 0 19%;
}

.hero-text h1 {
  font-family: "Kanit", sans-serif;
  font-size: 90px;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
}

.hero-text h4 {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

.hero-text p {
  color: white;
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 40px;
}

.hero-img img {
  width: 500px;
  height: auto;
}

.hero-text a {
  display: inline-block;
  color: white;
  background: #33a1de;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.55s ease;
}

.hero-text a:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}

.hero-text a.ctaa {
  background: transparent;
  border: 1px solid white;
  margin-left: 20px;
}

.hero-text a.ctaa i {
  vertical-align: middle;
  margin-right: 5px;
}

.icons {
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}

.icons i {
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: white;
  transition: all 0.5s ease;
}

.icons i:hover {
  color: #4d9559;
  transform: translateY(-5px);
}

.scroll-down {
  position: fixed;
  bottom: 20%;
  right: 10%;
}

.scroll-down i {
  display: block;
  padding: 12px;
  font-size: 25px;
  color: white;
  background: #4d9559;
  border-radius: 30px;
  transition: all 0.5s ease;
}

.scroll-down i:hover {
  transform: translateY(-5px);
}

@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }

  .icons {
    padding: 0 3%;
    transition: 0.2s;
  }

  .scroll-down {
    right: 3%;
    transition: 0.2%;
  }
}

@media (max-width: 1460px) {
  section {
    padding: 0 12%;
    transition: 0.2s;
  }
}

@media (max-width: 1340px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }

  .hero-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }

  .hero-text h5 {
    margin-bottom: 25px;
  }
}

@media (max-width: 1195px) {
  section {
    padding: 0 3%;
    transition: 0.2s;
  }

  .hero-text {
    padding-top: 115px;
  }

  .hero-img {
    text-align: center;
  }

  .hero-img img {
    width: 560px;
    height: auto;
  }

  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .icons {
    display: none;
  }

  .scroll-down {
    display: none;
  }
}

@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }

  .navlist {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 40vh;
    background: #4d9559;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.55s ease;
  }

  .navlist a {
    margin-left: 0;
    display: block;
    margin: 7px 0;
  }

  .navlist.open {
    right: 0;
  }
}

@media (max-width: 680px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }
}

body {
  background: linear-gradient(245.59deg,
      #4d9559 0%,
      #38703d 28.53%,
      #57a02c 75.52%);
  margin: 0;
  padding: 0;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.character-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.character-card {
  width: 300px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: rgb(171, 211, 90);
  border-radius: 10px;
  overflow: hidden;
  /* rounded corners are applied properly */
}

.character-card:hover {
  transform: scale(1.05);
}

.character-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.character-info {
  padding: 20px;
}

.character-name {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #007bff;
}

.character-description {
  font-size: 1rem;
  color: black;
  margin-bottom: 1px;
}

/* gallary */

.gallery-container {
  max-width: 1200px;
  margin: 50px auto;
}

.gallery-title {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 50px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/*Quote Generator*/

.quote-generator-container {
  max-width: 950px;
  margin: 150px auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quote-generator-title {
  color: #4d9559;
  font-size: 36px;
  margin-bottom: 20px;
}

.quote-description {
  color: #777;
  font-size: 16px;
  margin-bottom: 30px;
}

.quote {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.btn {
  background-color: #4d9559;
  color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #38703d;
}

/* Credit Section */
.credit-section {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: #4d9559;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.your-name {
  color: #ff6347;
  font-weight: bold;
}

/*toggle button */
.toggle-credit-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4d9559;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

/* Footer */
.footer {
  background-color: #4d9559;
  color: #fff;
  padding: 30px 50px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  font-size: 20px;
}

.social-icons {
  display: flex;
}

.social-icon {
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
}